/* ************************************************************************* */
/*                                                                           */
/* General                                                                   */
/*                                                                           */
/* ************************************************************************* */
* {
    box-sizing: border-box;
}

.noPadding { 
	padding: 0;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	
	margin-top: 5px;
	margin-left: 15px;
	margin-rightL: 15px;
	
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	/*   font-family: "Lato", sans-serif; */
}

/* cellpadding */
th, td { padding: 5px; }

/* ************************************************************************* */
/* Table 1                                                                   */
/* ************************************************************************* */
.table1 {
	border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
	border-width: 2px;
	width: 90%;
}


/* ************************************************************************* */
/* T O P   M E N U                                                           */
/* ************************************************************************* */
.topMenu {
	background-color: gray; 
}

.topMenu nav {
	background-color: gray; 
}

.topMenu ul { 
	background-color: gray; 
}
 
 .topMenu li {
 	display: inline;
 }

.topMenu a {
	color: white;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	
  /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
.topMenu a:hover {
  color: black;
  text-decoration: none;
}

/* ************************************************************************* */
/* M I D D L E   M E N U                                                     */
/* ************************************************************************* */
.midMiss {
	color: black;
	/* background-color: hsl(0, 0%, 0%); */
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	
	display: flex;
	flex-direction: row;
	justify-content: left;
	/* vertically aligns items */
	align-items: left;
	/* horizontally aligns items */
}

.middleLogo {
	font-style: normal;
	font-weight: 300;
	color: hsl(253, 100%, 50%);
	font-size: 16px;
}

.middleLogo p {
	margin-right: 5px;
}

@media screen and (max-width: 1000px) {

	.midMiss {
 		width: 100%;
 		 text-align: left; // center the content of the container
	 }

}

.midItem {
  width: 100px;
  display: inline-block; // display inline with abality to provide width/height
}​


/* ************************************************************************* */
/* B O T T O M   M E N U                                                     */
/* ************************************************************************* */
.navbar-custom {
    
}

.bottomMenu { 
  	background-color: #00579a; 
}

.bottomMenu li a {
	background-color: #00579a; 
	color: white !important;
}

/* ************************************************************************* */
/* F O O T E R                                                               */
/* ************************************************************************* */
.warpFooterRow {
	width: 100%;
	margin: 0 auto;
}

.warpFooterItem {
	display: inline-block; /* display inline with ability to provide width/height */
	padding: 25px;
	
}

.warpFooter {
	background-color: black;
	color: white;
}

//* ************************************************************************* */
/* Main Page Product Grid                                                    */
/* ************************************************************************* */
.warpImage {
	width: 100%;
	margin: 0 auto;
}

.myImage {
	width: 100%;
	margin: 0 auto;
}

.warpRow {
	width: 100%;
	margin: 0 auto;
}

.warpItem {
	display: inline-block; /* display inline with ability to provide width/height */
	padding: 25px;
	
}
 


/* *********************************************************************** */
/* Modal Dialog                                                            */
/* *********************************************************************** */
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }





/* *********************************************************************** */
/* End                                                                     */
/* *********************************************************************** */
